.dth-img-container {
  text-align: center;
  margin: 20px 0px;
}

.dth-img {
  border-radius: 7px;
}

.dth-p {
  margin-bottom: 15px;
}

.dth-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.dth-video-wrapper-item {
  position: absolute;
  padding-bottom: unset !important;
  height: 100% !important;
}
